In [2]:
import pandas as pd
import numpy as np

In [4]:
# Just creating data structures
index = pd.date_range('1/1/2018', periods =8)
s =pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])
df = pd.DataFrame(np.random.randn(8,3), index = index, columns=['A', 'B', 'C'])

In [6]:
df.shape

(8, 3)

In [7]:
s.shape

(5,)

In [12]:
s.values

array([ 0.43797128, -0.77506599, -0.31490537,  0.42666222,  1.77340727])

In [13]:
df.values

array([[-0.11990838,  0.0148314 ,  0.3329949 ],
       [-0.56312474,  0.0484132 , -0.90544595],
       [ 1.18615326,  0.59675566,  0.58671215],
       [ 0.60448873,  1.24967264, -1.22291854],
       [-0.87300842, -1.20881334, -0.47047461],
       [-0.4837849 ,  0.92508922,  1.22302008],
       [-1.94753128, -0.59091891,  0.77575799],
       [-1.21059521,  0.01300493, -0.55243032]])

In [15]:
# Now you can access it simply like a 2-D matrix
df.values[0,1]

0.014831400802076263

In [19]:
# Pandas uses numexpr and bottleneck libraries for doing certain
# types of operations quickly like df1 > df2, df1*df2
pd.set_option('compute.use_bottleneck', True)
pd.set_option('compute.use_numexpr', True)

# These options are set by default

In [46]:
# Use fill_value to replace to fill missing values
# Not referring to NaN here
df1=pd.DataFrame(np.random.randn(3,2))
df2=pd.DataFrame(np.random.randn(3,3))

print(df1)
print(df2)

          0         1
0  0.188303 -1.235142
1 -0.434506  0.026852
2  0.729009 -0.385257
          0         1         2
0 -0.604938 -2.281873 -0.989994
1 -0.453612 -1.541854  1.320580
2 -1.001900 -0.420823 -1.233416

In [47]:
# During addition the missing values to make the dataframes of
# same dimesnion would take value = 10
df1.add(df2, fill_value = 10)

          0         1          2
0 -0.416635 -3.517015   9.010006
1 -0.888119 -1.515002  11.320580
2 -0.272891 -0.806080   8.766584

In [48]:
# It has standard function for comparison resulting in boolean answers
# gt, lt, le, ge, ne
# For greater than , less than , greater than equal to

In [49]:
df1.ge(df2)

      0     1      2
0  True  True  False
1  True  True  False
2  True  True  False

In [51]:
# Boolean reductions like empty, any, all, bool
(df1>0.5).all()

0    False
1    False
dtype: bool

In [52]:
(df1>0.5).any()

0     True
1    False
dtype: bool

In [53]:
(df1>0.5).empty

False

In [54]:
# To test whether a ant value is present or not
(df1 > 0.5).any().any()

True

In [55]:
# To compare two series or datframes use
# In this method NaN are also treated equal 
(df1 + df1).equals(df1*2)

True